@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,700&display=swap');

*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


section {
    position: relative;
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    background-image: url('./assets/image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: relative;
    top: 0;
    width: 100%;
    padding : 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items:center ;

}

header .logo{
    position: relative;
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

header .navigation a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: background;

}

header .navigation a:not(:last-child){
    margin-right: 30px;
    }

    header .navigation a:hover{
        background: #000;
    }

    .content {
        max-width: 650px;
        margin: 60px 100px;
        color: #fff;
    }

    .content .info h2 {
        color : #E079CC;
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 2px;
        margin-bottom: 30px;
    }


.content .info h2 span {
    color: #fff;
    font-size: 45px;
    font-weight: 600;

}

.content .info p{
    font-size :16px;
    font-weight: 500;
    margin-bottom: 40px;
}

.content .info-btn {
    color : #fff;
    background: #E079CC;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.content .info-btn:hover{
    background:  #FF4FBE;
}

.media-icons {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.media-icons a{
    position: relative;
    font-size: 25px;
    transition: 0.3s;
    transition-property: background;
    margin-bottom: 20px;
}

.media-icons a:not(:last-child){
margin-right:60px ;
}

.media-icons a:hover {
    transform: scale(1.1);

}

label{
    display: none;

}

#check{
    z-index: 3;
    display: none;
}


@media(max-width:960px){
    header .navigation {
        display: none;
    }
    .content .info h2{
        font-size:45px;
        line-height: 50px;
    }
    .content .info h2 span {
        font-size: 40px;
        font-weight:600 ;
    }

    .content .info p{
        font-size: 14px;
    }
    

}


@media(max-width:560px){
 .content h2 span{
    font-size: 30px ;
    font-weight: 600;
 }   

 .content .info p{
    font-size: 14px;
    
 }
}
